[flake8]
# Set the maximum line length (79 characters is the default)
max-line-length = 79

# Ignore certain errors or warnings
ignore = E203, E501, W503, W291, W293 

# Specify additional files or directories to exclude from linting
exclude =
    .git,
    __pycache__,
    venv,
    env,
    .venv

# Select the error codes you want Flake8 to check
select =
    # C: McCabe complexity
    C,
    # E: PEP8 errors
    E,
    # F: PyFlakes errors
    F,
    # W: PEP8 warnings
    W

# Enable certain plugins
plugins =
    # flake8-docstrings: Check docstring conventions
    flake8-docstrings>=1.5.0,
    # flake8-bugbear: Additional checks on top of flake8
    flake8-bugbear>=21.9.0
